.order-list {
    padding: 10px;
    margin: 0;
}

.order:first-child p:first-child {
    border-top-left-radius: 10px;
}

.order:first-child p:last-child {
    border-top-right-radius: 10px;
}

.order:last-child p:first-child {
    border-bottom-left-radius: 10px;
}

.order:last-child p:last-child {
    border-bottom-right-radius: 10px;
}
